.button-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.spinner-dots {
  width: 20px;
  height: 20px;
  position: relative;
}

.spinner-dots div {
  position: absolute;
  width: 3px;
  height: 3px;
  background: currentColor;
  border-radius: 50%;
  animation: spin-dots 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.spinner-dots div:nth-child(1) {
  animation-delay: -0.36s;
  top: 2px;
  left: 9px;
}

.spinner-dots div:nth-child(2) {
  animation-delay: -0.3s;
  top: 3px;
  left: 14px;
}

.spinner-dots div:nth-child(3) {
  animation-delay: -0.24s;
  top: 6px;
  left: 17px;
}

.spinner-dots div:nth-child(4) {
  animation-delay: -0.18s;
  top: 9px;
  left: 18px;
}

.spinner-dots div:nth-child(5) {
  animation-delay: -0.12s;
  top: 12px;
  left: 17px;
}

.spinner-dots div:nth-child(6) {
  animation-delay: -0.06s;
  top: 15px;
  left: 14px;
}

.spinner-dots div:nth-child(7) {
  animation-delay: 0s;
  top: 16px;
  left: 9px;
}

.spinner-dots div:nth-child(8) {
  animation-delay: 0.06s;
  top: 15px;
  left: 4px;
}

@keyframes spin-dots {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  50% {
    opacity: 0.2;
    transform: scale(0.8);
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}